.banner-container {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  background-color: black;
}

.banner {
  width: 100%;
  vertical-align: top;
}

.banner-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.banner-container::after {
  content: "Zašto E Fitness Centar?";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.numbers {
  height: 400px;
  background-repeat: no-repeat;
  /* background-position: fixed; */
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.numbers-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbers-info span {
  color: #fff;
  font-size: 80px;
  font-weight: 400;
}

.numbers-info p {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.motivation {
  padding: 70px 0;
  background-color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.motivation-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.motivation-container span {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  .banner-container::after {
    content: "Zašto E Fitness Centar?";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }

  .numbers {
    flex-direction: column;
    height: inherit;
    gap: 50px;
    padding: 40px 0;
  }
}
